@import url('https://fonts.cdnfonts.com/css/amazon-ember');

.product{
    /* background-color: aqua; */
    display: flex;
    /* display: inline; */
    flex-direction: row;
    font-family: 'Amazon Ember', sans-serif;
    /* width: 20px; */
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: flex-start;
    width: 1020px;
    height: 190px;
    /* margin-left: 372px; */
}

/* .img{
    width: 50px;
} */

.phone{
    /* background-color: aqua; */
    width: 100px;
    font-family: 'Amazon Ember', sans-serif;
}

.old-price{
    text-decoration:line-through;
}

.real-price{
    color: var(--Secondary---Red, #B12704);
    font-family: Amazon Ember;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* div{
    display: flex;
    display: inline;
} */

.phone-pic{
    width: 183px;
    height: 190px;
    margin-left: 34px;
    margin-right: 34px;
}

.details{
    width: auto;
    color: var(--Primary---Black, #18191A);
    font-family: 'Amazon Ember', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}